<% include ../partials/header.ejs %>

<h1>Cadastrar Consultorio</h1>
<p><a href="/consultorio" type="button" class="btn btn-default">Voltar a lista de consultorios</a></p>
    <form method="post">
        <div class="form-group">
            <label for="nameConsultorio">Nome Consultorio</label>
            <input type="text" class="form-control" id="nameConsultorio" name="nameConsultorio" placeholder="Nome Consultorio">
        </div>
        <div>
            <% if(error){%>
                <div class="alert alert-danger" role="alert">
                    <strong>Aviso!</strong> Consultorio <strong><%=Isvalid.nameConsultorio%></strong> ja existe!!
                </div>
            <% }%>
        </div>       
        <div>
        <label for="name">Cadastrar Especialidade</label>        
            <select class="custom-select" multiple name="especialidade">
                <% especialidade.map( especialidades => { %>
                    <option value="<%= especialidades.name%>"><%= especialidades.name%></option>
                <% }) %>
            </select>        
        </div>
        <p>
            <div>
                <button type="submit" class="btn btn-default">Salvar</button>
            </div>
        </p>
        <div>
            <% if(errorEmpty){%>
                <div class="alert alert-danger" role="alert">
                    <strong>Aviso!</strong> Campo vazio!!
                </div>
            <% }%>
        </div>         
    </form>

<% include ../partials/footer.ejs %>