<% include ../partials/header.ejs %>

      <h1>Lista Consultorios</h1>
        <p><a href="/consultorio/create" type="button" class="btn btn-default">Novo Consultorio</a></p>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Nome Consultorio</th>
                <th>Especialidades</th>
                <th>Medicos Disponiveis</th>
                <th>Ações</th>
            </tr>
            <% consultorio.map( consultorios => { %>
            <tr>
                <td><%= consultorios.nameConsultorio %></td>
                <td><%= consultorios.especialidade%></td>
                <td><% consultorios.medico.map( con => {%>
                    <%= con.name+';' %>
                <%})%>
                </td>              
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" class="btn btn-default" href="/consultorio/medico/<%=consultorios.id%>">Add/Del Medico</a>
                        <a type="button" class="btn btn-default" href="/consultorio/delete/<%=consultorios.id%>">Remover Consultorio</a>
                    </div>
                </td>
            </tr>
            <% }) %>
        </table>

<% include ../partials/footer.ejs %>