<% include ../partials/header.ejs %>

      <h1>Lista Consultorios</h1>
        <p><a href="/" type="button" class="btn btn-default">Voltar a Home</a></p>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Nome Consultorio</th>
                <th>Especialidades</th>
                <th>Medicos Disponiveis</th>
            </tr>
            <tr>
                <td><%= consultorio.nameConsultorio %></td>
                <td><%= consultorio.especialidade%></td>
                <td><% consultorio.medico.map(con => {%>
                    <%= con.name+';'%>
                <%})%></td>                
            </tr>
        </table>

<% include ../partials/footer.ejs %>