<% include ../partials/header.ejs %>

<h1>Cadastrar Medico no Consultorio</h1>
<p><a href="/consultorio" type="button" class="btn btn-default">Voltar a lista de consultorios</a></p>
    <form >
        <div class="form-group">
            <label class="font-weight-bold" for="nameConsultorio">Nome Consultorio</label>
            <input type="text" class="form-control" id="nameConsultorio" value="<%=consultorio.nameConsultorio%>"readonly>
        </div>      
        <div>
        <label class="font-weight-bold" for="name">Especialidades Consultorio</label>        
            <% consultorio.especialidade.map( especialidades => { %>
                <input type="text" class="form-control" value="<%=especialidades%>"readonly>
            <% }) %>        
        </div>
        <p>
            <% if(consultorio.medico.length > 0) {%>
            <p><label class="font-weight-bold" for="name">Medicos Consultorio</label></p>            
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>Medico</th>
                    <th>Especialidades</th>
                    <th>Ações</th>
                </tr>
                <% consultorio.medico.map((med) => {%>
                <tr>
                    <td><%= med.name%> CRM <%= med.crm%></td>
                    <td><%= med.especialidade%></td>              
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a type="button" class="btn btn-default" href="/consultorio/removemedico?idrm=<%=med.id%>&idcons=<%=consultorio.id%>">Remover medico</a>
                        </div>
                    </td>
                </tr>
                <%})%>
            </table>  
            <%}%>
        <p>
        <div>
            <% if(errorMedico){%>
                <div class="alert alert-danger" role="alert">
                    <strong>Aviso!</strong> Medico ja cadastrado no consultorio!!
                </div>
            <% }%>
        </div>
        <div>
            <% if(errorEspec){%>
                <div class="alert alert-danger" role="alert">
                    <strong>Aviso!</strong> Medico nao possui especialidade compativel!!
                </div>
            <% }%>
        </div>
        <p>
        <label class="font-weight-bold" for="name">Cadastro de Medicos</label> 
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Medico</th>
                <th>Especialidades</th>
                <th>Ações</th>
            </tr> 
            <% medico.map( medicos => { %>
            <tr>
                <td><%= medicos.name %> CRM <%=medicos.crm%></td>
                <td><%= medicos.especialidade%></td>              
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" class="btn btn-default" href="/consultorio/insert?idmedico=<%=medicos.id%>&idconsultorio=<%=consultorio.id%>">Add medico</a>
                    </div>
                </td>
            </tr>
            <% })%>
        </table>
        </p>               
    </form>

<% include ../partials/footer.ejs %>