<% include ../partials/header.ejs %>

<h1>Cadastrar Especiliadade</h1>
<p><a href="/especialidade" type="button" class="btn btn-default">Voltar a lista de especialidade</a></p>
    <form method="post">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nome especialidade">
        </div>
        <div>
            <% if(error){%>
                <div class="alert alert-danger" role="alert">
                    <strong>Aviso!</strong> A especialidade <strong><%= Isvalid.name%></strong> ja existe!!
                </div>
            <% }%>
        </div>
        <div>
            <% if(errorempty){%>
                <div class="alert alert-danger" role="alert">
                    <strong>Aviso!</strong> Campo vazio!!
                </div>
            <% }%>
        </div>
        <a><button type="submit" class="btn btn-default">Salvar</button></a>        
    </form>

<% include ../partials/footer.ejs %>