<% include ../partials/header.ejs %>

      <h1>Lista Especialidade</h1>
        <p><a href="/especialidade/create" type="button" class="btn btn-default">Nova Especialidade</a></p>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
            <% especialidade.map( especialidades => { %>
            <tr>
                <td><%= especialidades.name %></td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" class="btn btn-default" href="/especialidade/delete/<%= especialidades.id %>" onclick="return confirm('Deseja realmente excluir')">Excluir</a>
                    </div>
                </td>
            </tr>
            <% }) %>
        </table>

<% include ../partials/footer.ejs %>