<% include ../partials/header.ejs %>

<h1>Cadastrar medico</h1>
<p><a href="/medico" type="button" class="btn btn-default">Voltar a lista de medicos</a></p>
    <form method="post">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nome Medico">
        </div>        
        <div class="form-group">
            <label for="crm">CRM</label>
            <input type="text" class="form-control" id="crm" name="crm" placeholder="CRM Medico">
        </div>
        <div>
            <% if(error){%>
                <div class="alert alert-danger" role="alert">
                    <strong>Aviso!</strong> O CRM <strong><%= Isvalid.crm%></strong> ja existe!!
                </div>
            <% }%>
        </div>
        <div>
        <label for="name">Especialidade</label>        
            <select class="custom-select" multiple name="especialidade">
                <% especialidade.map( especialidades => { %>
                    <option value="<%= especialidades.name%>"><%= especialidades.name%></option>
                <% }) %>
            </select>        
        </div>
        <p>
            <div>
            <button type="submit" class="btn btn-default">Salvar</button>
            </div>
        </p>
        <div>
            <% if(errorEmpty){%>
                <div class="alert alert-danger" role="alert">
                    <strong>Aviso!</strong> Campos vazio!!
                </div>
            <% }%>
        </div>        
    </form>

<% include ../partials/footer.ejs %>