<% include ../partials/header.ejs %>

<h1>Atualizar cadastro medico</h1>
<p><a href="/medico" type="button" class="btn btn-default">Voltar a lista de medicos</a></p>
    <form method="post">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nome Medico" value="<%=medico.name%>">
        </div>
        <div class="form-group">
            <label for="crm">CRM</label>
            <input type="text" class="form-control" id="crm" name="crm" placeholder="CRM Medico" value="<%=medico.crm%>" >
        </div>
        <div>
        <label for="name">Especialidade</label>        
            <select class="custom-select" multiple name="especialidade">
                <% medico.especialidade.map( especialidades => { %>
                    <option value="<%= especialidades%>"><%= especialidades%></option>
                <% }) %>                
            </select>        
        </div>
        <div>
           <button type="submit" class="btn btn-default">Salvar</button> 
        </div>        
    </form>

<% include ../partials/footer.ejs %>