<% include ../partials/header.ejs %>

      <h1>Lista medicos</h1>
        <p><a href="/medico/create" type="button" class="btn btn-default">Novo medico</a></p>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Nome</th>
                <th>Especialidade</th>
                <th>Ações</th>
            </tr>
            <% medico.map( medicos => { %>
            <tr>
                <td><%= medicos.name %></td>
                <td><%= medicos.especialidade %></td>                
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" class="btn btn-default" href="/medico/delete/<%= medicos.id %>" onclick="return confirm('Deseja realmente excluir')">Excluir</a>
                    </div>
                </td>
            </tr>
            <% }) %>
        </table>

<% include ../partials/footer.ejs %>