<% include partials/header.ejs %>

      <div class="starter-template">
        <h1>Consultório Medico</h1>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>Nome Consultorio</th>
                <th>Ações</th>
            </tr>
            <% consultorio.map( con => { %>
            <tr>
                <td><%= con.nameConsultorio %></td>
                </td>              
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a type="button" class="btn btn-default" href="/consultorio/info/<%= con.id %>">Consultorio Info</a>
                    </div>
                </td>
            </tr>
            <% }) %>
        </table>
      </div>

<% include partials/footer.ejs %>
